extends layout.jade

block title
  title Index

block content
  div
    h1 Gallery of Great Photos
    form(method="GET", action="/gallery/new")
      input(type="submit", name="addNew", value="Add New Photo")
  div(class="containerPhoto")
    each photo in photos
      div(class="itemPhoto")
        p #{photo.author}
        img(src= '#{photo.link}')
        p #{photo.description}