extends ./layout/layout.jade

block title
  title Index

block content
    ol
      each photo in photos
        li #{photo.description}
          ul
            img(src= '#{photo.link}')
            p by #{photo.author}