<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 Login in, My Friend
  form(method="POST" action="/login")
    p username:
    input(type="text" name="username" placeholder="username...")
    p password:
    input(type="text" name="password")
    input(type="submit" value="Login")
