extends ./layout/layout.jade

block title
  title New

block content
  h1 Upload New Photo
  form(name="new-photo", method="post", action="/gallery", enctype="application/x-www/form-urlencoded")
    input(type="text", name="author", placeholder="author's name")
    br
    input(type="text", name="photo", placeholder="photo url")
    br
    input(type="textarea", name="description", placeholder="photo description")
    br
    input(type="submit")