<!DOCTYPE html>
html(lang="en")
  head
    link(rel='stylesheet', href='./styles/styles.css')
    meta(charset="UTF-8")
    block title
      title Default title
  body
    input(type="submit", value="logout")
    block content